In [71]:
# thêm thư viện
import pandas as pd

In [ ]:
# import os

# new_dir = r"D:\University\DataViz\Proj\Lab\DataViz_Lab02"

# os.chdir(new_dir)

# print(os.getcwd())

D:\University\DataViz\Proj\Lab\DataViz_Lab02

In [73]:
# in ra danh sách các file trong thư mục
files = os.listdir('Data')
print(files)

['AGR.csv', 'BID.csv', 'CTG.csv', 'TCB.csv', 'VCB.csv']

In [74]:
# đọc file
AGR = pd.read_csv('Data/AGR.csv')
BID = pd.read_csv('Data/BID.csv')
CTG = pd.read_csv('Data/CTG.csv')
TCB = pd.read_csv('Data/TCB.csv')
VCB = pd.read_csv('Data/VCB.csv')

# thêm cột mã cổ phiếu
AGR['XSTC'] = 'AGR'
BID['XSTC'] = 'BID'
CTG['XSTC'] = 'CTG'
TCB['XSTC'] = 'TCB'
VCB['XSTC'] = 'VCB'

In [75]:
AGR.head()

         Date     Price      Open      High       Low     Vol. Change % XSTC
0  05/21/2024  19,850.0  20,100.0  20,100.0  19,800.0  499.80K   -1.49%  AGR
1  05/20/2024  20,150.0  20,100.0  20,600.0  20,100.0    1.41M    0.25%  AGR
2  05/17/2024  20,100.0  19,700.0  20,300.0  19,400.0    2.31M    2.03%  AGR
3  05/16/2024  19,700.0  20,500.0  20,500.0  19,600.0    1.65M    0.25%  AGR
4  05/15/2024  19,650.0  19,150.0  20,100.0  18,950.0    3.15M    3.15%  AGR

In [76]:
BID.head()

         Date     Price      Open      High       Low     Vol. Change % XSTC
0  05/21/2024  50,000.0  49,600.0  50,300.0  49,600.0  493.10K    0.81%  BID
1  05/20/2024  49,600.0  49,450.0  50,700.0  49,400.0    2.19M    0.51%  BID
2  05/17/2024  49,350.0  49,750.0  50,000.0  49,200.0    1.52M    1.04%  BID
3  05/16/2024  48,840.0  49,200.0  50,300.0  48,600.0    2.10M    0.49%  BID
4  05/15/2024  48,600.0  49,000.0  49,000.0  48,100.0    1.39M    1.04%  BID

In [77]:
CTG.head()

         Date     Price      Open      High       Low     Vol. Change % XSTC
0  05/21/2024  33,550.0  33,650.0  33,850.0  33,350.0  968.20K    0.60%  CTG
1  05/20/2024  33,350.0  33,150.0  33,900.0  33,100.0   12.15M    0.76%  CTG
2  05/17/2024  33,100.0  33,350.0  33,500.0  32,900.0    5.95M   -0.30%  CTG
3  05/16/2024  33,200.0  32,500.0  33,650.0  32,450.0   14.19M    2.63%  CTG
4  05/15/2024  32,350.0  32,500.0  33,000.0  32,250.0    7.93M    0.31%  CTG

In [78]:
TCB.head()

         Date     Price      Open      High       Low    Vol. Change % XSTC
0  05/21/2024  47,650.0  49,500.0  49,700.0  47,650.0   1.89M   -4.39%  TCB
1  05/20/2024  49,840.0  49,750.0  50,400.0  46,750.0   9.30M    0.18%  TCB
2  05/17/2024  49,750.0  47,000.0  50,000.0  47,000.0   6.35M    0.44%  TCB
3  05/16/2024  49,530.0  48,100.0  49,900.0  48,100.0  20.86M    3.40%  TCB
4  05/15/2024  47,900.0  48,100.0  48,150.0  47,750.0   8.74M   -1.24%  TCB

In [79]:
VCB.head()

         Date   Price    Open    High     Low     Vol. Change % XSTC
0  05/21/2024  91,500  91,600  92,100  91,400  377.20K   -0.44%  VCB
1  05/20/2024  91,900  92,000  98,200  88,700    1.04M    0.11%  VCB
2  05/17/2024  91,800  92,700  93,000  91,700    1.08M   -0.86%  VCB
3  05/16/2024  92,600  92,000  92,700  91,000    1.71M    1.76%  VCB
4  05/15/2024  91,000  90,700  92,700  84,900  883.10K    0.23%  VCB

In [89]:
# viết hàm sắp xếp lại ngày tháng năm từ bé đến lớn cho từng df
    def sort_date(df):
        df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%Y')
        df = df.sort_values(by='Date')
        return df

,Date,Price,Open,High,Low,Vol.,Change %,XSTC
1341,01/02/2019,"3,326.7","3,277.5","3,366.1","3,248.0",44.19K,-1.17%,AGR
1091,01/02/2020,"3,454.7","3,444.8","3,494.0","3,346.4",129.65K,-2.23%,AGR
91,01/02/2024,"15,900.0","16,450.0","16,450.0","15,900.0",1.30M,-0.93%,AGR
1340,01/03/2019,"3,297.2","3,346.4","3,346.4","3,248.0",82.09K,-0.89%,AGR
1090,01/03/2020,"3,523.6","3,454.7","3,553.1","3,454.7",100.45K,1.99%,AGR
...,...,...,...,...,...,...,...,...
591,12/30/2021,"25,245.6","24,409.0","25,245.6","24,113.7",3.64M,6.88%,AGR
341,12/30/2022,"7,500.0","7,600.0","7,600.0","7,500.0",149.00K,0.00%,AGR
1092,12/31/2019,"3,533.4","3,375.9","3,533.4","3,277.5",98.02K,6.85%,AGR
840,12/31/2020,"8,464.4","8,267.6","8,592.4","8,198.7",1.80M,2.50%,AGR
590,12/31/2021,"25,097.9","25,885.3","26,229.8","25,048.7",2.84M,-0.59%,AGR

In [80]:
# merge các bảng
data = pd.concat([AGR, BID, CTG, TCB, VCB]).reset_index(drop=True)
data

,Date,Price,Open,High,Low,Vol.,Change %,XSTC
0,05/21/2024,"19,850.0","20,100.0","20,100.0","19,800.0",499.80K,-1.49%,AGR
1,05/20/2024,"20,150.0","20,100.0","20,600.0","20,100.0",1.41M,0.25%,AGR
2,05/17/2024,"20,100.0","19,700.0","20,300.0","19,400.0",2.31M,2.03%,AGR
3,05/16/2024,"19,700.0","20,500.0","20,500.0","19,600.0",1.65M,0.25%,AGR
4,05/15/2024,"19,650.0","19,150.0","20,100.0","18,950.0",3.15M,3.15%,AGR
...,...,...,...,...,...,...,...,...
7445,06/11/2018,"44,732","45,036","45,718","44,353",3.13M,-1.17%,VCB
7446,06/08/2018,"45,263","44,202","45,794","44,202",3.44M,1.70%,VCB
7447,06/07/2018,"44,505","44,732","44,960","44,278",3.24M,-0.68%,VCB
7448,06/06/2018,"44,808","44,050","45,263","43,671",2.79M,0.85%,VCB
7449,06/05/2018,"44,429","44,429","45,187","43,747",4.51M,-1.18%,VCB

In [81]:
# kiểm tra kiểu dữ liệu
data.dtypes

Date        object
Price       object
Open        object
High        object
Low         object
Vol.        object
Change %    object
XSTC        object
dtype: object

In [82]:
# chuyển đổi kiểu dữ liệu
data['Date'] = pd.to_datetime(data['Date'])
for col in ['Price', 'Open', 'High', 'Low']:
    data[col] = data[col].str.replace(',', '').astype(float)

def volume_to_float(x):
    if 'K' in x:
        return float(x.replace('K', '')) * 1e3
    elif 'M' in x:
        return float(x.replace('M', '')) * 1e6
    return float(x)

data['Vol.'] = data['Vol.'].apply(volume_to_float)

data['Change %'] = data['Change %'].str.rstrip('%').astype(float)

data.dtypes

Date        datetime64[ns]
Price              float64
Open               float64
High               float64
Low                float64
Vol.               float64
Change %           float64
XSTC                object
dtype: object

In [83]:
data.set_index('Date', inplace=True)
data

              Price     Open     High      Low       Vol.  Change % XSTC
Date
2024-05-21  19850.0  20100.0  20100.0  19800.0   499800.0     -1.49  AGR
2024-05-20  20150.0  20100.0  20600.0  20100.0  1410000.0      0.25  AGR
2024-05-17  20100.0  19700.0  20300.0  19400.0  2310000.0      2.03  AGR
2024-05-16  19700.0  20500.0  20500.0  19600.0  1650000.0      0.25  AGR
2024-05-15  19650.0  19150.0  20100.0  18950.0  3150000.0      3.15  AGR
...             ...      ...      ...      ...        ...       ...  ...
2018-06-11  44732.0  45036.0  45718.0  44353.0  3130000.0     -1.17  VCB
2018-06-08  45263.0  44202.0  45794.0  44202.0  3440000.0      1.70  VCB
2018-06-07  44505.0  44732.0  44960.0  44278.0  3240000.0     -0.68  VCB
2018-06-06  44808.0  44050.0  45263.0  43671.0  2790000.0      0.85  VCB
2018-06-05  44429.0  44429.0  45187.0  43747.0  4510000.0     -1.18  VCB

[7450 rows x 7 columns]

## Ý nghĩa các cột

- *Date:* Ngày giao dịch diễn ra.

- *Price:* Giá đóng cửa của cổ phiếu vào ngày giao dịch.
  
- *Open:* Giá mở cửa của cổ phiếu vào ngày giao dịch.
  
- *High:* Giá cao nhất của cổ phiếu trong ngày giao dịch.
  
- *Low:* Giá thấp nhất của cổ phiếu trong ngày giao dịch.
  
- *Vol. (Volume):* Khối lượng giao dịch của cổ phiếu trong ngày.
  
- *Change %:* Phần trăm thay đổi của giá cổ phiếu so với ngày giao dịch trước đó.
  
- *XSTC:* Mã cổ phiếu của công ty, với các giá trị có thể là 'AGR', 'BID', 'CTG', 'TCB', 'VCB'.

In [90]:
# Do thời gian chưa sắp xếp nên ta sắp xếp lại
def sort_by_stock_and_date(df):
    """
    Sắp xếp DataFrame theo mã cổ phiếu ('XSTC') và sau đó theo ngày ('Date').
    
    Args:
    - df: DataFrame chứa dữ liệu cần sắp xếp.

    Returns:
    - DataFrame đã sắp xếp.
    """
    # Sắp xếp DataFrame theo cột 'XSTC' và 'Date'
    sorted_df = df.sort_values(by=['XSTC', 'Date'], ascending=[True, True])
    return sorted_df

data = sort_by_stock_and_date(data)
data

              Price     Open     High      Low       Vol.  Change % XSTC
Date
2018-06-05   3592.5   3523.6   3631.8   3425.1   140590.0      4.89  AGR
2018-06-06   3612.1   3592.5   3631.8   3543.2   113340.0      0.55  AGR
2018-06-07   3641.7   3641.7   3651.5   3592.5    75800.0      0.82  AGR
2018-06-08   3562.9   3641.7   3641.7   3543.2   118030.0     -2.16  AGR
2018-06-11   3533.4   3562.9   3562.9   3444.8    82080.0     -0.83  AGR
...             ...      ...      ...      ...        ...       ...  ...
2024-05-15  91000.0  90700.0  92700.0  84900.0   883100.0      0.23  VCB
2024-05-16  92600.0  92000.0  92700.0  91000.0  1710000.0      1.76  VCB
2024-05-17  91800.0  92700.0  93000.0  91700.0  1080000.0     -0.86  VCB
2024-05-20  91900.0  92000.0  98200.0  88700.0  1040000.0      0.11  VCB
2024-05-21  91500.0  91600.0  92100.0  91400.0   377200.0     -0.44  VCB

[7450 rows x 7 columns]

In [91]:
data.to_csv('Data/merged_data.csv')